/*============Navbar======================*/
.navbarH
{
    position: absolute;
    width: 249px;
    height: 41px;
    left: 35px;
    top: 25px;

    font-family: 'Arial',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #2c3e50;
}
.navbarH:hover
{
    cursor: pointer;
}
/*=========================Mimi menu=========================*/
.Mini_menu{
    height: 30px;
    background-color: white;
    width: 100vw;
}
.menu_button
{
     width: 150px;
    height: 30px;
    background: none;
    border: none;
}

.menu_button:hover{
    background-color: #1B2647;
    color: white;
}
/*=========================Main=========================*/

.contener{
    background: url("../js/components/assets/nav_backN.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    padding-bottom: 40px;
    padding-top: 30px
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 100px 0 100px;
}

.column {
    width: 400px;
    background: #D9D9D9;
    border-radius: 21px;
    margin: 20px;
    height: 250px;
    font-family: 'Arial',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 58px;
    color: #1B2647;
    border: none;
}
.column:hover {
    opacity: 0.7;
    cursor: pointer;
}
.name{
    font-family: 'Arial',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 131px;
    text-align: left;
    margin-left: 40px;
    color: #D9D9D9;
    /*text-shadow: -3px 0 #1B2647, 0 1px #1B2647, 3px 0 #1B2647, 0 -1px #1B2647;*/
}
.line{
    border: 2px solid #E38F10;
    background-color: #E38F10;
    margin: 0 0 50px 50px;
    width: 150px;
}
.window
{
    margin: 30px;
    border-radius: 21px;
    background: #D9D9D9;
    min-height: 500px;
    padding: 30px;
}
.single_new{
    background: #D9D9D9;
    border-radius: 5px;
    margin: 0 10vw 20px 20px;
    min-height: 50px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #1B2647;
    padding-left: 20px;
    text-align: left;
}
.News{
    text-align: left;
    background: white;
    border-radius: 5px;
    min-height: 200px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 58px;
    color: #1B2647;
    border: none;
    padding-bottom: 20px;
    margin: 30px;
}
.descryption_news
{
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    color: darkred;
    padding-left: 20px;
    text-align: left;
}
.news_page
{
    max-height: 400px;
    overflow-y: scroll;
}
/*========================================================*/

.form-popup {
    position: fixed;
    top: 40%;
    left:40%;
    border: 3px black solid;
    border-radius: 10px;
    min-width: 20%;
    display: none;
    min-height: 300px;
    padding: 20px;
    background-color: #2d3748;
    color: wheat;
    font-size: 25px;
}
.inside_popup_containter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;

}
.blur-background{
    filter: blur(3px);
}
.buttonAD
{
    border-radius: 10px;
}
.buttonAD:hover
{
    background-color: #4a5568;
    color: wheat;
}
.news_list
{
    display: flex;
    justify-content: space-around;
    margin: 20px 5vw 0 10px;
}
.icon{
    margin: 10px;
}

.icon:hover
{
   transform: scale(1.05);
    cursor: pointer;
}

.communicator_left{
    background-color: #9dabb9;
    margin: 20px;
    padding: 30px 50px;
    width: 50%;
    height: 500px;
}
.communicator_left_insade{
    padding: 30px 50px;
    overflow-y: scroll;
}
.communicator_right{
    margin: 20px;
    padding: 10px 0 0 0 ;
    width: 50%;
    height: 500px;
}
.communicator_right_insade{
    background-color: white;
    margin: 20px 0;
    padding: 20px 10px;
    height: 310px;
    overflow-y: scroll;
}
.unread-message{
    font-weight: bold;
}
.opened-message{
    background-color: #aaa;
}
.message:hover{
    background-color: #1B2647;
    color: white;
    cursor: pointer;
}

/*====================*/
#choose-reveivers-form{
    border: solid 1px black;
    display: none;
    overflow-y: scroll;
    max-height: 500px;
}


#choose-reveivers-form .indent{
    margin-left: 30px;}
